<!DOCTYPE html>
<html>
<head>
  <title><%="Culpeper System - " + USER%></title>
  <%= stylesheet_link_tag    "default" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%=image_tag("culpeper.gif", id: "Culpeper", alt:"Nicholas Culpeper")%>
    <h1 id="main_title"><%="Culpeper - Electronic Card Catalog of the " + USER%></h1>
    <%=image_tag("gahanna2.jpg", id: "Gahanna", alt:"Gahanna, Ohio", size: "200x200")%>
  </header>
  <div id="content">
    <%= yield %>
  </div>
  <div id="footer">
    Culpeper designed by <a href="http://www.abwinkler.com">Benjamin Winkler</a>
    <%= link_to "Administer Card Catalog", new_book_path, :class => "new_book" %>
  </div>
</body>

</html>
