<!DOCTYPE html>
<html>
<head>
  <title><%="Culpeper System - " + USER%></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row" id="header">
    <div class="span2">
      <%=image_tag("culpeper.gif", id: "culpeper", alt:"Nicholas Culpeper", size: "400x400", class:"img-polaroid")%>
    </div>
    <div class="span8 offset1">
      <p><h1>Culpeper</p><p><small>     Electronic Card Catalog of the <%=USER%></small></h1></p>
    </div>
  </div>
  <div class="row" id="content">
    <div class="span12">
      <%= yield %>
    </div>
  </div>

    <div class="row" id="foot">
      <div class="span12">
        <p>Culpeper designed by <a href="http://www.abwinkler.com">Benjamin Winkler</a></p>
        <%= button_to "Administer Card Catalog", new_book_path, id:"admin_btn", method: "get", class:"btn btn-warning" %>

     </div>
    </div>


</div>
</body>

</html>
